/* Body Style */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  z-index: 0;
}

/* Splash Screen Animations */
#splashScreen {
  background-image: linear-gradient(#ffb4b4, #f9dfdf);
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation-name: rollUpSplashScreen;
  animation-duration: 1s;
  animation-delay: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes rollUpSplashScreen {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0.25;
    height: 50%;
  }

  100% {
    opacity: 0;
    width: 0%;
    height: 0%;
    display: none;
  }
}

#splashSiteLogo {
  min-height: 10%;
  max-width: 10%;
  margin-top: 15rem;
  margin-left: 70rem;
  animation-name: bounceSplashSiteLogo;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounceSplashSiteLogo {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-10px);
  }
}

#splashSiteName {
  font-size: 6rem;
  font-style: italic;
  font-family: "Times New Roman", Times, serif, cursive;
  margin-top: 3rem;
  margin-left: 62rem;
  animation-name: spinSplashSiteName;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes spinSplashSiteName {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

#splashLoadingBar {
  position: relative;
  display: block;
  background-color: #cecece;
  border-radius: 5px;
  min-height: 2rem;
  max-width: 75rem;
  margin-top: 7rem;
  margin-left: 40rem;
}

#loadingProgress {
  position: relative;
  display: block;
  border-radius: 5px;
  min-height: 2rem;
  max-width: 75rem;
  animation-name: fillLoadingBar;
  animation-duration: 8s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fillLoadingBar {
  0% {
    width: 0%;
    background-color: #ff7878;
  }

  45% {
    width: 45%;
    background-color: #ff7878;
  }

  100% {
    width: 100%;
    background-color: #ff7878;
  }
}

/* Innit */
#pageContent {
  width: 0%;
  height: 0%;
  overflow: hidden;
  z-index: 999;
  animation-name: innitPageContent;
  animation-duration: 1s;
  animation-delay: 9s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes innitPageContent {
  0%,
  100% {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

/* Section Break */
.sectionBreak {
  position: static;
  height: 100px;
  margin: 0;
  padding: 0;
  align-content: center;
}

/* Page Header */
#navigationMenu {
  background-color: #ffb4b4;
  position: fixed;
  overflow: hidden;
  height: auto;
  min-width: 99%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 998;
}

#headerContainer {
  min-width: 44%;
  margin-left: 3rem;
  display: block;
}

#siteLogo {
  position: fixed;
  display: inline-block;
}

@media screen and (min-width: 961px) {
  #siteLogo {
    max-width: 7.5rem;
    min-height: 7.5rem;
  }
}

@media screen and (max-width: 960px) {
  #siteLogo {
    max-width: 5rem;
    min-height: 5rem;
  }
}

#siteName {
  color: #ffffff;
  font-size: 0;
  text-align: center;
  display: inline-block;
  margin-top: 1rem;
  margin-left: 10rem;
  margin-right: 35rem;
}

#siteName span {
  position: relative;
  font-style: italic;
  font-family: "Times New Roman", Times, serif, cursive;
  font-weight: 500;
  animation-name: wavingText;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: calc(0.1s * var(--i));
}

@media screen and (min-width: 961px) {
  #siteName span {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 960px) {
  #siteName span {
    font-size: 2.75rem;
  }
}

@keyframes wavingText {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}

.menuTab {
  color: #ffffff !important;
  text-align: left !important;
  text-decoration: none !important;
  display: inline-block;
  border-radius: 10px;
  max-width: fit-content;
}

@media screen and (min-width: 961px) {
  .menuTab {
    min-height: 20%;
  }
}

@media screen and (max-width: 960px) {
  .menuTab {
    min-height: 10%;
  }
}

.menuTitle {
  list-style-type: none;
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 0;
}

.menuTitleEN {
  font-style: italic;
  font-family: "Times New Roman", Times, sans-serif;
}

.menuTitleJP {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
    "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@media screen and (min-width: 961px) {
  .menuTitleEN {
    font-size: 2.25rem;
  }

  .menuTitleJP {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 960px) {
  .menuTitleEN {
    font-size: 2rem;
  }

  .menuTitleJP {
    font-size: 1rem;
  }
}

i:nth-of-type(1) {
  color: #ffffff;
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  float: left;
}

@media screen and (min-width: 961px) {
  i:nth-of-type(1) {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 960px) {
  i:nth-of-type(1) {
    font-size: 2rem;
  }
}

.menuTab:hover {
  background-color: #ff7878;
  text-shadow: 2px 2px 4px #000000;
}

i:hover {
  animation-name: bounceIcon;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes bounceIcon {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-12px);
  }
  60% {
    transform: translateY(-7px);
  }
}

#topBtn {
  position: fixed;
  color: none;
  border: 0;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  padding: 2.5rem;
  transform: translate(92vw, 1vh);
  display: none;
  z-index: 998;
}

i:only-child {
  color: #ffffff;
  font-size: 3.5rem;
  margin-top: 0;
  margin-left: 0;
}

#topBtn:hover {
  background-color: #ff7878;
}

/* Wedding Photo Wrapper */
#imgWrapper {
  background-color: #ffb4b4;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#imgWrapperContainer {
  margin-top: 12vh;
  margin-bottom: 2vh;
}

.weddingPhoto {
  max-height: 500px;
  max-width: 800px;
  padding-top: 2vh;
  padding-bottom: 1.5vh;
  padding-left: 0.4vw;
  padding-right: 0.4vw;
  display: inline-block;
}

.weddingPhoto:hover {
  background-color: #fea5a5;
  opacity: 0.5;
}

/* Page Body - Our Story */
#storyPanel {
  background-color: #ffdada;
}

#storyPanelTitle {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
}

#storyImg1 {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  border-radius: 5px;
  height: 330px;
  width: 500px;
  margin-left: 10vw;
  padding: 7px;
  transform: rotate(-5deg);
}

#storyImg2 {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  border-radius: 5px;
  height: 330px;
  width: 500px;
  margin-top: 2vh;
  margin-left: 15vw;
  padding: 7px;
  transform: rotate(10deg);
}

#storyImg3 {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  border-radius: 5px;
  height: 330px;
  width: 500px;
  margin-top: 20vh;
  margin-right: 5vw;
  padding: 7px;
  transform: rotate(3deg);
}

#storyImg4 {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  border-radius: 5px;
  height: 330px;
  width: 500px;
  margin-top: 2vh;
  margin-right: 5vw;
  padding: 7px;
  transform: rotate(-15deg);
}

#story1 {
  color: #ffffff;
  font-size: 22px;
  width: 600px;
  padding: 5px;
  word-break: keep-all;
  margin-left: 3vw;
}

#story2 {
  color: #ffffff;
  font-size: 22px;
  width: 600px;
  padding: 5px;
  word-break: keep-all;
  margin-top: 15vh;
  margin-left: 10vw;
}

#storyPanelEnd {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  padding-top: 17vh;
  padding-bottom: 5vh;
  text-align: center;
}

#shortClipPanel {
  background-color: #fff0f0;
}

#shortClip {
  margin-left: 25rem;
}
